asttokens==2.0.5
backcall==0.2.0
click==8.0.3
colorama==0.4.4
cycler==0.10.0
debugpy==1.6.0
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
ffmpeg==1.4
Flask==2.0.2
Flask-Cors==3.0.10
gunicorn==20.1.0
imageio==2.9.0
ipykernel==6.13.1
ipython==8.4.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.2
joblib==1.1.0
jupyter-client==7.3.3
jupyter-core==4.10.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
nest-asyncio==1.5.5
networkx==2.6.3
numpy==1.21.3
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
packaging==21.3
pandas==1.3.4
parso==0.8.3
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.29
psutil==5.9.1
pure-eval==0.2.2
pybind11==2.8.0
Pygments==2.12.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
PyWavelets==1.1.1

pyzmq==23.1.0
scikit-image
scikit-learn
scipy
six
skia-python
sklearn
stack-data
threadpoolctl==3.0.0
tifffile==2021.10.12
tornado==6.1
traitlets==5.2.2.post1
wcwidth==0.2.5
Werkzeug==2.0.2
